# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environment
.venv
env/

# Docker-related
Dockerfile
docker-compose.yml


.git/*
.gitignore

# C extensions
*.so

# Database
/data/*

# PyCharm files
.idea/
.venv/

# Ignore Django migrations
*/migrations/
!*/migrations/__init__.py

# Docker
*.log
*.pid