# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environment
.venv
env/

# Docker-related
Dockerfile
docker-compose.yml


.git/*
.gitignore

# C extensions
*.so

# Database
/db/*.sqlite3
/data/media/*

# PyCharm files
.idea/
.venv/

# Docker
*.log
*.pid