# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
../.env
.env*
# Database
/data/*

# PyCharm files
.idea/
.venv/

# Ignore Django migrations
*/migrations/
!*/migrations/__init__.py


# Docker
*.log
*.pid